@media (max-width:1744px) {
    .container {
        width: 1360px;
    }
    
    .about {
        .astronaut_image {
            left: 596px;
            top: 532px;
        }
    }

    .stack { 
        .stack_description {
            .planet_image {
                width: 748px; 
                height: 728px;
            }
        }
    }

    .rocket_image {
        top: 1664px;
        left: -120px;
        height: 2520px;
    }
}

@media (max-width:1466px) {
    .container {
        width: 1060px;
    }

    .about {
        padding-top: 112px;
        p {
            width: 60%;
        }
        .astronaut_image {
            left: 468px;
            top: 452px;
            width: 176px;
            height: 192px;
        }
    }

    .rocket_image {
        top: 1468px;
        left: -120px;
        height: 1980px;
    }

    .stack { 
        .stack_description {
            .stack__image {
                width: 462px;
                height: 492px;
            }
            .stack__logo_image {
                margin-top: 100px;
            }
        }
    }
}

@media (max-width:1306px) {
    .container {
        width: 860px;
    }

    .about {
        padding-top: 0;
        margin-top: 300px;
        p {
            margin: 0;
            width: 100%;
        }
        .astronaut_image {
            left: 364px;
            top: 316px;
        }
    }
}

@media (max-width:1202px) {
    .stack { 
        .stack_description {
            .planet_image {
                width: 448px; 
                height: 428px;
            }
            .stack__image {
                width: 324px;
                height: 352px;
            }
        }
    }

    footer {
        #contacts {
            width: 45%;
        }
    } 
}

@media (max-width:936px) {
    .container {
        width: 560px;
    }

    .rocket_image {
        display: none;
    }

    .about {
        background: transparent;
        height: 980px;
    }

    .stack { 
        .stack_description {
            width: 100%;
        }
    }

    footer {
        #contacts {
            width: 80%;
        }
    }
}

@media (max-width:664px) {
    .offer {
        .offer__text {
            width: 100%;
        }
    }
}

@media (max-width:614px) {
    .container {
        width: 360px;
    }

    .btn {
        height: 52px;
        width: 132px;
    }

    .mars_image {
        width: 664px;
        height: 928px;
    }

    .offer {
        margin-top: 100px;
        .offer__text {
            p {
                margin: 44px 0 92px;
            }
            .btn {
                width: 272px;
            }
        }
    }

    .about {
        margin-top: 200px;
        p {
            font-size: 26px;
        }
        .astronaut_image {
            left: 216px;
        }
    } 

    .stack {
        p {
            font-size: 32px;
        }
    }

    footer {
        #contacts {
            width: 100%;
            p {
                font-size: 32px;
            }
        }
    }
}

@media (max-width:490px) {
    .about {
        .astronaut_image {
            left: 164px;
        }
    } 

    .stack { 
        .stack_description {
            .stack__image {
                width: 260px;
                height: 292px;
            }
            .planet_image {
                width: 348px; 
                height: 328px;
            }
            .line {
                width: 308px;
            }
        }
    }

    .preloader {
        .loader_image {
            display: none;
        }
     }
}

@media (max-width:410px) {
    .container {
        width: 300px;
    }

    .offer {
        .offer__text {
            h1 {
                font-size: 60px;
            }
            p {
                font-size: 30px;
            }
        }
    }

    .about {
        .astronaut_image {
            top: 436px;
            width: 136px;
            height: 152px;
        }
    }

    .stack { 
        margin-top: -212px;
        p {
            font-size: 26px;
        }
    }
    
    footer {
        #contacts {
            p {
                font-size: 26px;
            }
            a {
                font-size: 22px;
            }
            .footer__row {
                a {
                    margin-right: 30px;
                }
            }
        }
    }
}