@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #211539;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x:hidden; 
}

.container {
    width: 1680px;
    margin: 0 auto;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 20px;
    position: sticky;
    top: 0;
}

.btn {
    width: 160px;
    height: 68px;
    background: #FDEFFD;
    border: 0;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    color: #2D2D2D;
    -webkit-appearance: button;
    &:hover {
        background: #FF3407;
        box-shadow: 0px 0px 19.2586px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(6.41952px);
        color: white;
    }
}

.mars_image {
    background-image: url('../images/mars.png');
    background-size: cover;
    background-position: center;
    width: 1224px;
    height: 1276px;
    position: absolute;
    top: 0;
    right: 0;
}

@mixin text-style {
    font-weight: 600;
    font-size: 36px;
    line-height: 57px;
    color: white;
}

.offer {
    margin-top: 176px;
    .offer__text {
        width: 600px;
        h1 {
            font-weight: 600;
            font-size: 80px;
            line-height: 90px;
            color: white;
        }
        p {
            @include text-style();
            margin: 44px 0 196px;
        }
        .btn {
            width: 296px;
        }
    }
}

.about {
    padding-top: 204px;
    background-image: url('../images/about_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1246px;
    position: relative;
    p {
        width: 40%;
        margin-left: auto; 
        color: white;
        font-weight: 700;
        font-size: 36px;
        line-height: 53px;
        letter-spacing: 0.1em;
    }
    .astronaut_image {
        position: absolute;
        left: 760px;
        top: 660px;
        transition: transform .9s ease-in-out;
        &:hover {
            transform: rotate(360deg);
        }
    }
}

.rocket_image {
    position: absolute;
    top: 1768px;
    left: -60px;
    height: 2772px;
}

.stack {
    width: 100%;
    margin-top: -356px;
    p {
        @include text-style();
        text-align: center;
    }
    .stack_description {
        width: 50%;
        margin-left: auto;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        .line {
            width: 416px;
            height: 1px;
            background: rgba(255, 255, 255, 0.7);
            margin-bottom: 60px;
        }
        .stack__logo_image {
            margin-top: 240px;
        }
        .btn {
            margin-top: 20px;
        }
        .planet_image {
            width: 849px; 
            height: 827px;
        }
    }
}

footer {
    margin-bottom: 60px;
    #contacts {
        width: 35%;
        margin: 0 0 0 auto;
        p {
            @include text-style();
        }
        a {
            font-weight: 600;
            font-size: 24px;
            line-height: 57px;
            color: white;
            text-decoration: none;
        }
        .footer__row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                height: 40px;
                width: 40px;
                margin-right: 12px;
            }
            a {
                margin-right: 40px;
            }
        }
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #211539;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loading {
        width: 264px;
        height: 64px;
        background: #D62171;
        border-radius: 30px;
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.14em;
        color: white;
        .loading__circle_1, .loading__circle_2, .loading__circle_3 {
            width: 4px;
            height: 4px;
            background: white;
            border-radius: 8px;
            margin-left: 8px;
        }  
    }
}

.loading__circle_1 {
    animation: loading_for_1 0.7s infinite ease-out;
}
.loading__circle_2 {
    animation: loading_for_2 0.7s infinite ease-out;
}
.loading__circle_3 {
    animation: loading_for_3 0.7s infinite ease-out;
}


@keyframes loading_for_1 {
    0% {
        margin-top: 12px;
    }
    33%{
        margin-top: 8px;
    }
    66% {
        margin-top: -4px;
    }
    100%{
        margin-top: 8px;
    }
}
@keyframes loading_for_2 {
    0% {
        margin-top: 8px;
    }
    33%{
        margin-top: -4px;
    }
    66% {
        margin-top: 8px;
    }
    100%{
        margin-top: 12px;
    }
}
@keyframes loading_for_3 {
    0% {
        margin-top: -4px;
    }
    33%{
        margin-top: 8px;
    }
    66% {
        margin-top: 12px;
    }
    100%{
        margin-top: 8px;
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 1;
}
  
.loaded .preloader {
    display: none;
}